.idea/
Inspe.Common/src/Inspe.Common/bin/
Inspe.Common/src/Inspe.Common/obj/
STM.Api/src/STM.Api/obj/
STM.Services.Federations/src/STM.Services.Federations/bin/
STM.Services.Federations/src/STM.Services.Federations/obj/
